<% provide(:title, 'Movies')%>
<div class="container">
<h1>List of all Movies</h1>

  <%= form_tag movies_path, class: "form-inline", method: :get do %>
      <div class="input-group input-group-lg" >
        <% if params[:query].present? %>
            <div class="input-group-btn">
              <%= link_to "clear", movies_path, class: "btn btn-default" %>
            </div>
        <% end %>
            <%= text_field_tag :query, params[:query], class: "form-control", id: "movie_search", autocomplete: "off" %>
            <div class=input-group-btn">
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
      </div>
  <% end %>

<%= page_entries_info %>
  <%= will_paginate @movies%>

<ul class="movies">
  <% @movies.each do |movie| %>
      <li>
        <%= image_of movie, 50 %>
        <p><%= link_to movie.title, movie %> <%= "(#{movie.year})" %></p>
        <p class="description"><%= movie.description %></p>
      </li>
  <% end %>
</ul>
  <%= will_paginate @movies %>
  <%= render 'layouts/footer' %>
</div>