<% provide(:title, "#{@movie.title} (#{@movie.year})" )%>

  <div id="showhide">
    <div class="showhide_l"><a id="totop">Go to Top</a></div>
    <div class="showhide_r"><a id="toggle">Show/hide movie info</a></div>
  </div>
  <div class="movie_head">
    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>

    <%= image_of @movie, 120 %><div class="small_title">Desription:</div><p class="descr"><%= @movie.description %></p>
    <% if (@movie.locations.present?) %>
        <div class="small_title">Locations:</div>
          <div id='markers_list'></div>
  </div>

      <div id="map"></div>

      <script type="text/javascript">
          showmap(<%=raw @hash.to_json %>,1);
      </script>

     <div id="images_footer"></div>

     <% end %>

    <script type="text/javascript">
        showhide();
    </script>