<% provide(:title, 'Locations')%>
<div class="container">
  <h1>List of all Locations</h1>

  <%= page_entries_info %>
  <%= will_paginate @locations%>

  <ul class="list-group">
    <% @locations.each do |location| %>
        <li class="list-group-item">
          <p><%= link_to location.name, location %> - <span class="badge"><%= location.movies.count %></span> movies</p>
        </li>
    <% end %>
  </ul>
  <%= will_paginate @locations %>
  <%= render 'layouts/footer' %>
</div>