<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div id="header_container">
      <%= link_to "Movies Locator", root_path, id: "logo" %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Movies", movies_path %></li>
          <li><%= link_to "Locations", locations_path %></li>
        </ul>
      </nav>

      <%= form_tag movies_path, class: "form-inline", method: :get do %>
          <div class="input-group input-group-lg" >
            <%= text_field_tag :query, params[:query], class: "form-control", id: "movie_search", autocomplete: "off" %>
          </div>
            <div class="input-group-btn">
              <%= submit_tag "Search", class: "btn btn-primary", id: "srchbtn"%>
            </div>
          <% if params[:query].present? %>
              <div class="input-group-btn">
                <%= link_to "clear", movies_path, class: "btn btn-default" %>
              </div>
          <% end %>
      <% end %>

      <script type="text/javascript">
          autocomplete();
          redirect_search();
      </script>

    </div>
    <div id="radio_buttons">
      <input class="r_button" id="category_movies" name="category" type="radio" value="movies" />
      <label class="r_label" for="category_movies">Movies</label>
      <input class="r_button" id="category_locations" name="category" type="radio" value="locations" />
      <label class="r_label" for="category_locations">Locations</label>
    </div>
  </div>
</header>